@import "tailwindcss";

@theme {
    --color-zinc-950: #0f0f11;
    --color-zinc-900: #131316;
    --color-zinc-800: #18181b;
    --color-zinc-700: #27272a;
    --color-zinc-600: #3f3f46;
    --color-zinc-500: #52525b;
    --color-zinc-400: #a1a1aa;
    --color-zinc-300: #d4d4d8;
    --color-zinc-200: #e4e4e7;
    --color-zinc-100: #f4f4f5;
    --color-zinc-50: #fafafa;

    --default-font-family: 'Geist', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
    body {
        @apply bg-zinc-950 text-zinc-100 antialiased;
    }

    .shiki {
        @apply !bg-zinc-800/40;
    }
}

@layer base {

    /* Custom scrollbar styling. Thanks @pranathiperii. */
    div::-webkit-scrollbar {
        width: 5px;
    }

    div::-webkit-scrollbar-track {
        background: transparent;
    }

    div::-webkit-scrollbar-thumb {
        background: var(--border);
        border-radius: 5px;
    }

    div {
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }
}
